/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************** END CSS RESET ****************/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*************** END Clearfix ****************/
html, body{
  width: 100%;
  height: 100%;
}

img{
  width: 100%;
  margin: 0 0 0 0;
}

a{
  color: #fff;
  text-decoration: none;
}

/*** Layout ***/
header.page-header{
  color: #fff;
  width: 100%;
  padding: .75rem;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 30;
}

/*** Image Grid ***/
ul.img-grid li{
  display: block;
  width: 25%;
  height: 200px;
  overflow: hidden;
  float: left;
  background: #000;
  text-align: center;
  cursor: pointer;
}

ul.img-grid li img{
  -webkit-transition:width 1s, height 1s, margin 1s;
  transition:width 1s, height 1s, margin 1s;
}

ul.img-grid li:hover img{
  width: 110%;
  margin: -10% 0 0 -5% ;
    
}

/*** Lightbox ***/
.lb-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: #000;
  opacity: .75;
  display: none;
}

.lightbox {
  max-width: 50%;
  margin: 3% 25%;
  padding: .75rem;
  background: #fff;
  position: fixed;
  z-index: 500;
  border-radius: 4px;
  display: none;
}

.active{
  display: block;
}
.lb-nav{
  width: 100%;
  position: absolute;
}

.lb-nav ul{
  width: 100%;
}

  .lb-nav ul li{
    display: block;
    float: left;
  }

    .lb-nav ul li:last-child{
      float: right;
    }

.img-frame{
  width: 100%;
  margin: 0;
  text-align: center;
}

  .img-frame img{
    max-height: 100%;
  }
  














